<!DOCTYPE html>
<html>
<head>
  <title>Find Me</title>
  <style>
    body {
        margin: 0;
        padding: 0;
        background-color: #FDE2F3;
        color: #917FB3;
        text-align: center;
        margin-top: 100px;
    }
  </style>
</head>
<body>
    <h1>You have successfully completed all the puzzles</h1>
    <h1>Congratulations!!!</h1>
</body>
</html>
